@use "./scss/" as *;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');

* {
  padding: 0;
  margin: 2px;
}

html {

  @include tablet {
    font-size: 80%;
  }

  @include mobile{
    font-size: 60%;
  }
}

body{
  font-family: $font-family;
  background-color: $body-bg;
  color: $txt-color;
}

a {
  text-decoration: none;
  color: unset;
}




